{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,
  "printWidth": 80
}
