.table-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.avatar-icon-wrapper {
  display: flex;
  justify-content: space-between;
}

.avatar {
  font-size: 1.5em;
}

.ka-icon-group-arrow {
  display: none;
}

.ka-group-cell-content {
  font-size: 12px;
  margin-left: 5px;
  color: #888888;
}

.ka-thead {
  background-color: transparent;
}
