* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body:has(.radix-scroll) {
  @media only screen and (min-width: 768px) {
      overflow-y: scroll !important;
  } 
}

body * {
  font-family: unset;
}

/* .skeleton-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap:10px;
  overflow:hidden;
} */

.wrapper-content-div{
  width: 100%;
  z-index:0;
}

.wrapper-content-div span{
 height:40px;
}

.ka-thead{
  border-bottom: 8px solid white;
}